pkg/*
doc/*
tmp/*
reports/*
dump/*
*.gem
.bundle
.yardoc
report.html
appium_logs.txt
*.tar.gz
*.sql
*.DS_Store
*..sql
*.bson
cucumber.json
logs/appium_logs.txt
*.log
*.zip
load/gatling-charts-highcharts-bundle-2.1.7
